<%- include('./partials/head.ejs') %>


<main>
    <h1 class="FDND">FDND</h1>
    <div class="grid-container-hobby">
        <h2 class="explanation"><%= squad.name %></h2>
        <h3 class="chosen-hobby"><img src="/music.png" alt="muziek"></h3>
    </div>

<div class="members-grid-container">  
    <% squad.members.forEach(member => { %> 
        <article> 
    <% if (member.avatar) { %> 

        <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" > 

        <% }else{ %> 

        <img src="/placeholder.jpg" alt="Placeholder avatar" /> 

        <% } %> 

        <h2 class="article-h2"><%= member.name %> <%= member.prefix %> <%= member.surname %></h2> 
        <a class="github-link" href="<%= member.gitHubHandle %>" target="_blank"><img src="/github-mark.png" alt="Github account van <%= member.name %>"/></a>
        </article> 

        <% }) %> 
</div>
</main>

<%- include('./partials/foot.ejs') %>